body{
  background-color: rgba(200,100,200,0.5)
}
.card-title{
    font-size: xxx-large;
    font-weight: 100;
    font-style: italic;
}
.card-body{
  color: rgba(red, green, blue, alpha);
}
.card-text {
  font-size: 1.2rem;
  color: blue;
  font-weight: bold;
}
#note_priority{
  color:rgba(255, 0, 0, 0.6);
}
#notes-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}